.form-menu {
  width: 20rem;
  height: 18rem;
}

.form-menu .ant-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-menu input {
  font-size: 1rem;
}
